#newWordForm {
    padding-top: 15px;
    background-color: #edf3fc;
  }
  
  #buttonsContainer {
    padding-bottom: 5px;
  }
  
  mark {
    background-color: lightblue;
    padding-left: 0;
    padding-right: 0;
  }
  
  table {
    table-layout: fixed;
    overflow-wrap: break-word;
  }
  
  td:first-child,
  td:nth-child(2),
  th:first-child,
  th:nth-child(2){
    text-align: left
  }
  
  th {
    background-color: aliceblue;
  }
  
  .fa-trash,
  .fa-check,
  .fa-times {
    color: black;
  }
  
  tr:hover {
    background-color: aliceblue;
  }
  
  tr:focus-within {
      background-color: aliceblue;
  }